@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Roboto+Slab:wght@300;400;500;600&display=swap');


body {
  font-family: 'Raleway', sans-serif;
}

h1 {
    width: max-content;
    display: block;
    margin: 50px auto;
    font-size: 56px;
}

#intro {
  line-height: 1.6;
  font-size: 18px;
 }

main, #intro {
    width: 90%;
    max-width: 800px;
    margin: 50px auto 100px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a.link {
    text-decoration: underline;
    color: blue;
  }

  span.link {
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }

  ul {
      margin-bottom: 20px;
  }

    .accordion-menu--hidden {
      display: none;
    }

    .accordion-menu__list,
    .accordion-menu__sublist {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .accordion-menu__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 1rem;
    
   }

    .accordion-menu__icon {
      position: relative;
      width: 22px;
      height: 22px;
      transition: .2s all;
    }

    .accordion-menu__icon:before,
    .accordion-menu__icon:after {
      content: "";
      display: block;
      background-color: #333;
      position: absolute;
      top: 50%;
      left: 0;
      transition: .35s;
      width: 100%;
      height: 2px;
    }

    .accordion-menu__icon:before {
      transform: translateY(-50%);
    }

    .accordion-menu__icon:after {
      transform: translateY(-50%) rotate(90deg);
    }

    .accordion-menu--active .accordion-menu__icon:before {
      transform: translateY(-50%) rotate(-90deg);
      opacity: 0;
    }

    .accordion-menu--active .accordion-menu__icon:after {
      transform: translateY(-50%) rotate(0);
    }

    .accordion-menu__sublist {
      margin-left: 1.25rem;
    }

    .accordion-menu__sublist .accordion-menu__link {
      justify-content: left;
    }

    .accordion-menu__sublink {      
      padding-top: 1rem;           
    }

    .accordion-menu-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 1rem;
      overflow: scroll;
    }

    .accordion-menu-nav__link:not(:last-child) {
      margin-right: 1rem;
    }

    .accordion-menu-wrapper {
      display: none;
    }

    .accordion-menu-wrapper.active {
      display: block;
    }

    .accordion-menu__item {
      border-top: 1px solid black;
      padding-bottom: 1em; 
      
    }

    .accordion-menu__item:nth-last-child(1) {
      border-bottom: 1px solid black;
    }

    .heading-1 {
      font-size: 22px;
      font-weight: bold;
    }

    .heading-2 {
      font-size: 20px;
      font-weight: bold;      
    }

    .heading-2, .heading-3 {
      margin-left: 10px;
    }

    .splide__list li {
      width: 100%;
      height: auto;
    }


    #books-wrapper {  
      position: fixed;
      top:0;
      left:0;
      width: 100%;
      height: auto;   
      min-height: 100vh;
      display: none; 
      background-color: #333;
    }

    #books {
      position: relative;
      background-color: white;
      width: 90%;
      max-width: 1000px;
      margin: auto;
      display: block;
    }

    .splide__track {
      padding-bottom: 100px;
    }

    .splide__arrow {
      display: none;
    }

    .splide__slide {
      display: grid;
      grid-template-columns: 1fr 2fr;
      min-height: 80vh;
      @media(max-width: 950px){
        display: block;
      }   

      .book-cover {
        display: flex;
        flex-direction: column;
        @media(max-width: 950px){          
          float: left;
          margin-left:5%;           
        }

        div {
          margin: auto;
          width: 100%;

          img {
            margin: auto;       
            max-height: 80vh;
            width: 90%;
            display: block;
            @media(max-width: 950px){
              width: 200px;            
            }
          }
  
          p {
            text-align: center;
          }
        }
      }

      .book-description {
        width: 90%;
        margin: auto;
      }

    }

    .book-title {
      font-weight: bold;
      margin-bottom: 0;
    }
     .book-author {
      margin-top: 0;
     margin-bottom: 30px;
     }


  .open-modal {
    cursor: pointer;
    pointer-events: all;
  }

    

  #close {  
    cursor: pointer;  
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    z-index: 100;
  }

  #close:before,
  #close:after {
    content: "";
    display: block;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 0;
    transition: .35s;
    width: 100%;
    height: 2px;
  }

  #close:before {
    transform: translateY(-50%) rotate(45deg);
  }

  #close:after {
    transform: translateY(-50%) rotate(135deg);
  }
  

